@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes landing-animation {
    0% {
        opacity: 0;
        transform: translateY(200%);
    }

    80% {
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}